@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --color-primary: #0040C2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik-Bold.otf");
  src: url("/fonts/Aeonik-Bold.otf") format("embedded-opentype"),
    url("/fonts/Aeonik-Bold.otf") format("truetype");
}
@font-face {
  font-family: "Aeonik-Medium";
  src: url("/fonts/Aeonik-Medium.otf");
  src: url("/fonts/Aeonik-Medium.otf") format("embedded-opentype"),
    url("/fonts/Aeonik-Medium.otf") format("truetype");
}
@font-face {
  font-family: "Aeonik-Regular";
  src: url("/fonts/Aeonik-Regular.otf");
  src: url("/fonts/Aeonik-Regular.otf") format("embedded-opentype"),
    url("/fonts/Aeonik-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Aeonik-Black";
  src: url("/fonts/Aeonik-Black.otf");
  src: url("/fonts/Aeonik-Black.otf") format("embedded-opentype"),
    url("/fonts/Aeonik-Black.otf") format("truetype");
}

.active-link {
  border-bottom: 4px solid #3b82f6; /* Tailwind's blue-500 color */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* ...existing code... */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.08);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.15);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.08) transparent;
}
/* ...existing code... */